@model Cliente
@{Layout = "/Views/Shared/Layout.cshtml";}

<center>
    <title>Detalhes do Cliente "@Model.Name"</title>

    <h1 style="margin-top: 50px;">Detalhes do Cliente</h1>

    <h2 style="margin-top: 70px;">ID: @Model.ClienteId</h2>
    <h2>Nome: @Model.Name</h2>
    <h2>Senha: @Model.Password</h2>
    <h2>E-mail: @Model.Email</h2>
</center>