@model List<Cliente> //Diretiva de dados do tipo Cliente
@{Layout = "/Views/Shared/Layout.cshtml";}

<title>Clientes - página inicial</title>

<h1 style="margin-top: 20px;">Lista de Clientes</h1>

<nav class="navbar bg-body-light">
  <div class="container-fluid">
    <form class="d-flex" role="search" action="/cliente/search" method="POST">
      <input    class="form-control me-2" 
                type="search" 
                placeholder="Pesquisar" 
                aria-label="Search" 
                style="width: 30cm" 
                name="busca">
      <button class="btn btn-outline-success" type="submit">Procurar</button>
    </form>
  </div>
</nav>

<table 
    class="table table-hover" 
    style="margin-top: 20px;">
    
    @foreach (Cliente c in Model)
    {
        <tr>
            <td>@c.ClienteId</td>
            <td>@c.Name</td>
            <td>@c.Email</td>
            <td>@c.Password</td>
            <td><a class="btn btn-info" href="/cliente/details/@c.ClienteId">Detalhes</a></td>
            <td><a class="btn btn-danger" href="/cliente/delete/@c.ClienteId">Deletar</a></td>
            <td><a class="btn btn-warning" href="/cliente/update/@c.ClienteId">Editar</a></td>
        </tr>
    }
</table>
<br>
<a class="btn btn-primary btn-lg" href="/cliente/create">Adicionar Cliente</a>