@model Cliente
@{Layout = "/Views/Shared/Layout.cshtml";}

<title>Atualizar dados de cliente</title>

<h1>Atualização de Clientes</h1>
<form action="/cliente/update/@Model.ClienteId" method="POST">
    <div>
        <label>Nome</label>
        <input type="text" class="form-control" name="name" value="@Model.Name"/>
    </div>

    <div>
        <label>Senha</label>
        <input type="password" class="form-control" name="password" value="@Model.Password"/>
    </div>
    
    <div>
        <label>Email</label>
        <input type="email" class="form-control" name="email" value="@Model.Email"/>
    </div>

    <button class="btn btn-primary" style="margin-top: 20px">Salvar</button>
</form>