@model Produto
@{Layout = "/Views/Shared/Layout.cshtml";}

<center>
    <title>Detalhes do Produto "@Model.Nome"</title>

    <h1 style="margin-top: 50px;">Detalhes do Produto</h1>

    <h2 style="margin-top: 70px;">ID: @Model.ProdutoId</h2>
    <h2>Nome: @Model.Nome</h2>
    <h2>Preço: R$@Model.Preco</h2>
</center>
