@model List<Produto> //Diretiva de dados do tipo Produto
@{Layout = "/Views/Shared/Layout.cshtml";}

<h1>Lista de Produtos</h1>

<nav class="navbar bg-body-light">
  <div class="container-fluid">
    <form class="d-flex" role="search" action="/produto/search" method="POST">
      <input    class="form-control me-2" 
                type="search" 
                placeholder="Pesquisar" 
                aria-label="Search" 
                style="width: 30cm" 
                name="busca">
      <button class="btn btn-outline-success" type="submit">Procurar</button>
    </form>
  </div>
</nav>

<table class="table table-hover">
    @foreach (Produto p in Model)
    {
        <tr>
            <td>@p.ProdutoId</td>
            <td>@p.Nome</td>
            <td>@p.Preco</td>
            <td><a href="/produto/details/@p.ProdutoId">Detalhes</a></td>
            <td><a class="btn btn-danger" href="/produto/delete/@p.ProdutoId">Deletar</a></td>
            <td><a class="btn btn-warning" href="/produto/update/@p.ProdutoId">Editar</a></td>
        </tr>
    }
</table>
<br>
<a class="btn btn-primary" href="/produto/create">Adicionar</a>
